@use './variables' as *;
@use './mixins';
@use './globals';
@use './animations';
@use './layout';
@use './grid';
@use './flexbox';

body {
  font-family: $font-family;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #f0f4f8, #d9e2ec); // Dégradé doux
}


header {
  background-color: $primary-color;
  padding: $padding;
  color: white;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

h1 {
  font-size: 2em;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  transition: background-color $transition-speed ease;
}

nav a:hover {
  background-color: $secondary-color;
}

.section {
  padding: $padding;
  background-color: white;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.project {
  background-color: white;
  padding: $padding;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform $transition-speed ease;
  margin: 10px 0;
}

.project:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 999;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  transform: translateY(50px);
  animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header h1 {
  animation: fadeInDown 1s ease forwards;
}


.close-button {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 30px;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}




  
